@model WebApplication.Models.Video

@{

    ViewData["Title"] = ViewBag.CreateMode ? "Create" : "Edit";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="../../bootstrap/bootstrap.css"/>
</head>
<body class="bg-light">
<div class="p-2">

    @**@

    <form action="@(ViewBag.CreateMode ? "/Home/Create" : "/Home/Edit")" method="post">
        <input name="original.Id" value="@Model?.Id" type="hidden"/>
        <input name="original.Title" value="@Model?.Title" type="hidden"/>
        <input name="original.Url" value="@Model?.Url" type="hidden"/>
        <input name="original.Cover" value="@Model?.Cover" type="hidden"/>
        <input name="original.Thumbnail" value="@Model?.Thumbnail" type="hidden"/>
        <input name="original.Tags" value="@Model?.Tags" type="hidden"/>
        <input name="original.Width" value="@Model?.Width" type="hidden"/>
        <input name="original.Height" value="@Model?.Height" type="hidden"/>
        <input name="original.Duration" value="@Model?.Duration" type="hidden"/>

        <div class="row m-1">
            <div class="col-6">
                <h5 class="bg-info text-center p-2 text-white">Video</h5>


                <div class="form-group">
                    <label asp-for="Title"></label> <input asp-for="Title" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Url"></label> <input asp-for="Url" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Cover"></label> <input asp-for="Cover" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Thumbnail"></label> <input asp-for="Thumbnail" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label> <input asp-for="Tags" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Width"></label> <input asp-for="Width" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Height"></label> <input asp-for="Height" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Duration"></label> <input asp-for="Duration" class="form-control"/>
                </div>
            </div>

            <div class="col-6">

                <h5 class="bg-info text-center p-2 text-white">Album</h5>
                @Html.Partial("Album", Model)
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
    @**@

</div>


<script src="../bootstrap/jquery.js"></script>
<script src="../bootstrap/bootstrap.js"></script>
</body>
</html>