@section link
{

}

@using WebApplication.Shared
@model IEnumerable<WebApplication.Models.Video>
<div class="page-container">
    <div class="section-list-renderer">

        @foreach (var m in Model)
        {
            <div class="item-section-renderer">

                <div class="large-media-item">
                    <a href="../video/index/@m.Id">
                        <div class="video-thumbnail-container-large center">
                            <div class="cover video-thumbnail-img video-thumbnail-bg"></div>
                            <img class="cover video-thumbnail-img" src="../videos/@m.Cover">
                            <div class="video-thumbnail-overlay-bottom-group">
                                <div class="video-thumbnail-overlay-time-status-renderer">
                                    <span
                                        aria-label="6分钟秒钟">
                                        6:00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!---->
                    <div class="details">
                        <div class="large-media-channel">
                            <a>
                                <div class="profile-icon large-media-icon">
                                    <img class="profile-icon-img" src="~/img/profile/@m.Album.Cover">
                                </div>
                            </a>
                        </div>
                        <!---->
                        <div class="large-media-item-info cbox">
                            <a class="large-media-item-metadata" href="../video/index/@m.Id">
                                <h3>@m.Title</h3>
                                <div class="subhead" aria-hidden="true">
                                    <span
                                        class="text-info small-text">
                                        @m.Album.Title
                                    </span><span class="text-info small-text">@(m.WatchedCount.FormatTimes() + "观看")</span>
                                    <span
                                        class="text-info small-text">
                                        @m.UpdatedAt.FormatTimeAgo()
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section script
{

}