@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.spinner {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 12px auto;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #eee;
    border-top-color: #666;
    -webkit-animation: spinner .8s linear infinite;
    animation: spinner .8s linear infinite;
}


#app > .spinner {
    margin-top: 100px;
}

