
header {
    height: 48px;
}


.header-bar {
    padding: 0 8px;
    color: #fff;
    background-color: #e62117;
}

.header-bar[data-mode="watch"], .header-bar[data-mode="sponsorship"] {
    background-color: #222;
}

.header-bar[data-mode="searching"] {
    position: relative;
    z-index: 3;
    color: hsla(0, 0%, 6.7%, .6);
    background-color: #eee;
}
.header-bar[data-mode="searching"]>.non-search-mode, .header-bar:not([data-mode="searching"])>.search-mode {
    display: none;
}
.searchbox-form, .searchbox-input-wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.searchbox-input {
    width: 100%;
    margin-top: 4px;
}
.header-bar-content, .header-bar-endpoint, .mobile-topbar-header-content, .mobile-topbar-header-endpoint {
    visibility: visible;
}


.header-bar-buttons, .header-bar-endpoint {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.header-bar-logo {
    width: 40px;
    height: 40px;
}


.header-bar-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 12px;
    min-width: 0;
}

.searchbox-dropdown {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
}