@model WebApplication.Models.Video

<input name="original.VideoDetail.Id" value="" type="hidden"/>
<input name="original.VideoDetail.Duration" value="@Model.VideoDetail?.Duration" type="hidden" />
<input name="original.VideoDetail.Height" value="@Model.VideoDetail?.Height" type="hidden" />
<input name="original.VideoDetail.Width" value="@Model.VideoDetail?.Width" type="hidden" />

<input type="hidden" asp-for="VideoDetail.Id"/>
<div class="form-group">
    <label asp-for="VideoDetail.Duration"></label> <input asp-for="VideoDetail.Duration" class="form-control"/>
</div>
<div class="form-group">
    <label asp-for="VideoDetail.Height"></label> <input asp-for="VideoDetail.Height" class="form-control"/>
</div>
<div class="form-group">
    <label asp-for="VideoDetail.Width"></label> <input asp-for="VideoDetail.Width" class="form-control"/>
</div>